<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<body>
<div>
    <div>
        <a href="#" th:href="@{/app/ticket-by-name}">
            <button> Find ticket by name </button>
        </a>
        <a href="#" th:href="@{/app/edit/ticket}">
            <button> Add new Ticket</button>
        </a>
        <a href="#" th:href="@{/app/tickets}">
            <button> All Tickets</button>
        </a>
    </div>
    <table>
        <thead>
        <th>Passenger Number</th>
        <th>Passenger Name</th>
        <th>Passenger Last Name</th>
        <th>Seat Number</th>
        <th>Ticket Price</th>
        </thead>
        <tbody>
        <tr th:if="${tickets.empty}">
            <td colspan="2"> No Tickets Available</td>
        </tr>
        <tr th:each="ticket : ${tickets}">
            <td>
                <a th:href="@{/app/ticket/{id}(id=${ticket.id})}">
                    <span th:text="${ticket.passengerNo}"> Title </span>
                </a>
            </td>
            <td>
                <a th:href="@{/app/ticket/{id}(id=${ticket.id})}">
                    <span th:text="${ticket.passengerName}"> Author </span>
                </a>
            </td>
            <td>
                <a th:href="@{/app/ticket/{id}(id=${ticket.id})}">
                    <span th:text="${ticket.passengerLastName}"> Author </span>
                </a>
            </td>
            <td>
                <a th:href="@{/app/ticket/{id}(id=${ticket.id})}">
                    <span th:text="${ticket.seatNo}"> Author </span>
                </a>
            </td>
            <td>
                <a th:href="@{/app/ticket/{id}(id=${ticket.id})}">
                    <span th:text="${ticket.cost}"> Author </span>
                </a>
            </td>
            <td>
                <a th:href="@{/app/edit/ticket/{id}(id=${ticket.id})}">
                    <button>Edit</button>
                </a>
            </td>
            <td>
                <a th:href="@{/app/delete/ticket/{id}(id=${ticket.id})}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>